*{
    margin: 0;
    padding: 0;
    font-family: 'Poiret One', sans-serif;
}

body{
    background-color: rgb(245, 244, 244);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}


main{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

h1{
    color: rgb(219, 219, 197);
    font-size: 120px;
    margin-top: 15px;
    user-select: none;
}

.tasks-left{
    color: red;
    font-size: 35px;
    margin: 10px;
    user-select: none;
}